*{
  font-family: 'Corben', cursive; 
}

.main{
    
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(2,1fr);
    height: 600px;
    background-color:#f8f5f2 ;
    margin: auto;
}


.main>div{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: left;
  gap: 30px;
  padding: 40px;
  padding-top: 80px;
}
 .mainp1{
    
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -.3px;
    /* color: #222525; */
 }
 .mainp2{
    
    font-weight: 700;
    font-size: large;
    font-size: 25px;
    margin-top: 25px;
 }
 .part1{
   
    background-color: #DD6B20;
     color: black;
 }
 .part2{
    margin-left: 25px;
    color: red;
    
 }
 .part{
    margin-top: 25px;
    margin-bottom: 25px;
 }
 .main2{
   display: flex;
   flex-direction: column;
   gap: 50px;
   justify-content: center;
    align-items: center;

 }
  
 .main2p1{
    display: flex;
    border-radius: 20px;
    width: 80%;
    height: 130px;
    background-color: #fff;
    gap: 5px;
    justify-content: center;
    align-items: center;
 }

 .main2p1:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.06) 0px 10px 10px -5px;
 }

.main2p1>div{
     width: 70%;
 } 

 

 .footer{
   
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 120px;
  gap: 10px;
  width: 99%;
  margin: auto;
  text-align:justify;

  
 }
 /* .footer1{
  
   height: 500px;
   padding-left:40px ;

 } */
 

 .footer_lst{
   
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin: auto;
   
 }
 .footer_lst1{
   
   display: grid;
   grid-template-columns: repeat(4,1fr);
   width: 1200px;
   
   
 }
   
.frt{
   
   width: 25%;
   padding-right: 1px;
}